@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
body { 
    margin-top: 70px;
    background-image: url(food.jpg);
    color:#fff;
    font-family: Heebo;
}

div.card-primary {
    padding: 15px 10px;
    background-color: rgba(24, 24, 141, 0.6);
}

div.card-succes {
    padding: 15px 10px;
    background-color: rgb(27, 139, 23,0.6);
}

div.card-danger {
    padding: 15px 10px;
    background-color: rgb(121, 33, 33, 0.6);
}